# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://mfxiqpauqgomxlsinvbw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_oNsGYHz
SUPABASE_SERVICE_ROLE_KEY=sb_secret_qdsUy

# Superadmin
NEXT_PUBLIC_SUPERADMIN_EMAIL=diego.castillo.p11@gmail.com

# (Futuro - cuando integres Resend)
# RESEND_API_KEY=re_6cCUwL6s_HciQ3f39yNuwwXjmUzLEivTw